<h1>Welcome to INGCloneYelp</h1>

<h3>This is the first sample application I ever made afater learning Ruby on Rails programmiing language for Web Development</h3>

<h3>Sign Up to add a restaurant</h3>

